<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bengebackend.mapper.RoomMapper">
    <insert id="createRoom" parameterType="com.bengebackend.model.Room" useGeneratedKeys="true" keyProperty="id">
        insert into room (name, description,havePwd,password,owner_id)
        values (#{name}, #{description},#{havePwd},#{password},#{ownerId});
    </insert>

    <select id="getAllRooms" resultType="com.bengebackend.dto.RoomDto">
        SELECT
            r.id as roomId,
            r.name,
            r.description,
            u.username as ownerName,
            r.current_members as currentMembers
        FROM room r
        LEFT JOIN users u ON r.owner_id = u.Id
        ORDER BY r.created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getTotalRoomCount" resultType="int">
        SELECT COUNT(*) FROM room
    </select>
</mapper>
